__pycache__
wandb
/outputs/**
!/outputs/
!/outputs/**/
!/outputs/**/README.md
!/outputs/**/all_results.json
!/outputs/**/config.json
!/outputs/**/eval_results.json
!/outputs/**/generation_config.json
!/outputs/**/train_results.json
!/outputs/**/trainer_state.json
# *.sh
